@use '../../scss/variables' as v;

.userList {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	width: 100%;
	margin: 1rem auto;
	.userCard {
		display: flex;
		flex-direction: column;
		border-radius: 6px;
		background-color: v.$gray;
		color: v.$secondaryTextColor;
		width: 200px;
		height: 100px;
	}
}
