@use '../../scss/variables' as v;

.navbar {
	display: flex;
	align-items: center;
	color: v.$secondaryTextColor;
	font-size: 14px;
	position: fixed;
	height: 55px;
	top: 0;
	z-index: 3;
	background-color: gray;
	width: 100vw;
	padding: 0 1rem;
	left: 0;

	.nav-links {
		margin-left: auto;
		display: flex;
		align-items: center;
		gap: 10px;
		a {
			color: v.$secondaryTextColor;
			text-decoration: none;
		}
	}
}
